/*reset defaults*/
* {
  margin: 0;
  padding: 0;
  border: 0;

}

/* Fonts */
body {
  font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/*individual tags for paragraphs etc...*/
/* p {
  margin: 1.4rem;
  font-size: 0.9rem;
  text-align: center;
  
} */

#about-me {
  color:cornsilk;
}



h1 {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.8rem;
} 



/* NavBar */
.navbar {
  width: 100%;
  background-color: #595959;
  overflow: hidden;
  position: fixed;
  top: -0.5rem;
  z-index: 4;
   
}

/* navbar items */
.navbar a, #transcript {
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem 0.5rem;
  color:cornsilk;
  text-align: center;
 
}

/* Navbar left */
.navleft a {
  float: left;
  
}

/* Navbar right */
.navright a {
  float: right;
 
}

#list-last {
  float: right;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:#27afea;
}

/*Nav bar link text*/
.navbar p {
  float: right;
  margin: 0 0.5rem;

}

/*Nav bar link text not displayed on devices*/
@media only screen and (max-width: 520px) {
  .mobile {
    display: none;
  }
}

#Name {
  
  position:absolute; 
  left:50%; 
  transform:translateX(-50%);
  padding: 1.5rem 0.5rem;
  color: cornsilk;
  letter-spacing: 0.1rem;
  font-weight: 600;

}

.main {
  margin-top: 4rem;
}



.container-intro {
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  
}

.container--a{
  
  flex-direction: column;
  /* display: flex; */
  max-width: 80%;
  align-items: center;
  /*justify-content: center;*/
  
}

.ost--one, .ost--two {
  text-align: justify;
  flex: 1 1 auto;
  margin: 5px 0 5px 0;
  font-size: 0.9rem;
}


.container-aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color:black;
  /*background-color: #27afea;*/
  padding: 2rem;
  margin: 0;
  max-height: 40rem;
  }

  .vid--ost, #transcript  {
    margin:0;
    padding:0;
    
    
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  
  

}

#title {
  margin: 0;
  padding-top: 1.5rem;
  background-color: #27afea;
  text-align: center;
  color: cornsilk;
}


.left,
.center,
.right {
  min-height: 75%;
  flex-direction: column;
  /*display: flex;*/
  padding: 1rem;
  /*background-color: #595959;*/
  margin: 1rem;
  
  align-items: center;
   
}


/*left-right-center containers display in block when on devices*/ 

@media only screen and (max-width: 520px) {
  .container {
    display: block;
    min-width:75%;
  }
}

/*container images*/
.container img {
  max-width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 4rem;
}

/*.imgTitle {
  
  position: absolute;
  padding: 0.2rem;
  border: 0.1rem solid #595959;
  background-color: #595959;
  border-radius: 50%;
  z-index: 2;
  /*margin: 1.2rem;
  text-align: center;
}
*/

/*Image Titles */
.box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .imgTitle {
  position: absolute;
  /*z-index: 2;*/
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 100%; /* Set the width of the positioned div */
  padding: 0.5rem 0 0.5rem 0;
  /*border: 0.1rem solid #595959;*/
  background-color: #595959;
  z-index: 2;
}

/*image links*/
.left a, .center a, .right a {
  text-decoration: none;
  color: cornsilk;
  font-size: 1.2rem;
}

.left a:hover, .center a:hover, .right a:hover {
  background-color: #27afea;
}




/*Footer*/
h3  {
  text-align: left;
  margin: 1rem;
  color: cornsilk;
  
}

footer {
  background-color: #595959;
  padding: 0.5rem;

}
/*BDD Page*/
#bdd--title {
  padding-top: 2rem;
} 

/*Video*/
.centervid { 
  margin: 0 auto;
 

}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media only screen and (max-width: 520px) {
  .imgCenter {
    width: 100%;
  }
}

img {
  filter: saturate(200%);
}

/*BDD PAGE VIDEO CONTAINER*/
.video--container {

  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color:black;
  /*background-color: #27afea;*/
  padding: 2rem;
  margin: 0;
  max-height: 40rem;

}

/*Cucumber image page*/

.imgCenterCucumber {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

@media only screen and (max-width: 520px) {
  .imgCenterCucumber {
    width: 100%;
  }
}


/*cucumber code block */
.codeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  
}


.code {
  flex-direction: column;
  /* display: flex; */
  width: 80%;
  align-items:center;
  /*justify-content: center;*/
  text-align: left;
  background-color: rgb(184, 179, 179);
  font-size: 1.1rem;
  padding: 0.35rem 0 0 0.35rem;
}

.feature span {
  color: red;
  font-weight: bold;
}

.given span {
  color: red;
  font-style: italic;
  font-weight: lighter;
}

.given em {
  color:blue;
  font-style: normal;
}

.red {
  color: red;
  font-weight: bold;
}

.italic--red {
  color: red;
  font-style: italic
  ;
}

