/*reset defaults*/
* {
  margin: 0;
  padding: 0;
  border: 0;

}

/* Fonts */
body {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/*individual tags for paragraphs etc...*/
p {
  margin: 1.4rem;
  font-size: 0.9rem;
  text-align: center;
  
}

#about-me {
  color: white;
}



h1 {
  margin: 2rem;
  text-align: center;
  font-size: 1.8rem;
}



/* NavBar */
.navbar {
  width: 100%;
  background-color: #595959;
  overflow: hidden;
  position: fixed;
  top: -0.5rem;
  z-index: 5;
   
}

/* navbar items */
.navbar a {
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem 0.5rem;
  color: white;
  text-align: center;
 
}

/* Navbar left */
.navleft a {
  float: left;
  
}

/* Navbar right */
.navright a {
  float: right;
 
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(14, 131, 167);
}


.main {
  margin-top: 4rem;
}



.container-intro {
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container--a{
  
  flex-direction: column;
  display: flex;
  max-width: 80%;
  align-items: center;

}


.container-aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color:cornsilk;
  background-color: #27afea;
  padding: 2rem;
  
  }





.container {
  /* height: 150px; */
  background-color: #27afea;
  display: flex;
  justify-content: center;
  align-items: center;

}

.left,
.center,
.right {
  min-height: 75px;
  width: 400px;
  background-color: DodgerBlue;
  border: 0.1rem solid lightgrey;
}

#baseline .center {
  height: 100px;
  width: 100px;
  border: 5px solid turquoise;
}

#flexstart {
align-items: flex-start;
}

#flexend {
align-items: flex-end;
}

#center {
align-items: center;
}

#baseline {
align-items: baseline;
}
